<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RBS INTERVIEW TEST</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.2.0/css/bootstrap.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.css"></link>
    <style>
        .f-r{ float: right;}
        .f-l{ float: left;}
    </style>
    <base href="/">
</head>

<body ng-app="rbsApp">

<div ng-view></div>


<script src="angular/libraries/angular.min.js" type="application/javascript"></script>
<script src="angular/libraries/angular-route.min.js" type="application/javascript"></script>
<script src="angular/app.js" type="application/javascript"></script>
<script src="angular/config/routeConfig.js" type="application/javascript"></script>
<script src="angular/controller/listingEmployeeController.js" type="application/javascript"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html> 